body{
	background: black;
}
.guessingpage{
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	margin: auto;
	width: 90%;
	padding-top: 3%;
	height: 93.5%;
}
.guessingpage ul{
	display: inherit;
	flex-direction: row;
	padding: 0px;
	margin: 1em 0px;
	list-style-type: none;
	justify-content: space-around;
}
.guessingpage ul li:nth-child(1){
	display: inherit;
	flex-basis: 66%;
	background: #88ee88;
	padding: .1em;
	font-size: 1em;
	border: .1em solid #229922;
	border-radius: 15%;
	flex-wrap: wrap;
	word-break: break-all;
	flex-direction: row;
	justify-content: space-around;
}
.guessingpage ul li:nth-child(1) div{
	display: inherit;
	width: 50%;
	width: auto;
	flex-basis: 50%;
	flex-direction: row;
	justify-content: space-evenly;
}
.guessingpage ul li:nth-child(1) div div{
	display: inherit;
	width: 50%;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	background: #bbffbb;
	padding: .1em;
	border: .1em solid #66dd66;
	border-radius: 15%;
	width: auto;
	flex-wrap: wrap;
	word-break: break-all;
}
.guessingpage ul li:nth-child(2){
	display: inherit;
	flex-basis: 33%;
	padding: 0px 10px;
}
.guessingpage ul li:nth-child(2) div{
	display: inherit;
	margin: auto;
	background: #bbffbb;
	padding: .1em;
	font-size: 1em;
	border: .1em solid #66dd66;
	border-radius: 15%;
	flex-wrap: wrap;
	word-break: break-all;
}
.answerpage{
	display: none;
	margin: auto;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	height: 100%;
}
.answerpage .question{
	display: inherit;
	flex-direction: row;
	justify-content: space-around;
	text-overflow: scale;
	font-size: 2.5em;
	text-align: center;
	background: #bbffbb;
	padding: .7em;
	border: .1em solid #66dd66;
	border-radius: .5em;
	max-height: 35%;
}
.answerpage .answered{
	display: inherit;
	min-height: 1em;
	max-height: 6em;
	flex-direction: row;
	justify-content: space-around;
	flex-shrink: 3;
}
.answerpage .answered div{
	display: inherit;
	flex-shrink: 3;
	border-radius: 50%;
	min-width: .1em;
	max-width: 6em;
	width: 3.5em;
	height: 3.5em;
}
.answerpage .answered div:nth-child(1) {border: .3em solid #00FF00;}
.answerpage .answered div:nth-child(2) {border: .3em solid #0000FF;}
.answerpage .answered div:nth-child(3) {border: .3em solid #FFFF00;}
.answerpage .answered div:nth-child(4) {border: .3em solid #00FFFF;}
.answerpage .answered div:nth-child(5) {border: .3em solid #FF00FF;}
.answerpage .answered div:nth-child(6) {border: .3em solid #FF8000;}
.answerpage .answered div:nth-child(7) {border: .3em solid #00FF80;}
.answerpage .answered div:nth-child(8) {border: .3em solid #8000FF;}
.answerpage .answered div:nth-child(9) {border: .3em solid #0080FF;}
.answerpage .answered div:nth-child(10) {border: .3em solid #FF0080;}
.answerpage .answered div:nth-child(12) {border: .3em solid #80FF00;}
.answerpage .answered div:nth-child(13) {border: .3em solid #808080;}
.answerpage .answered div:nth-child(14) {border: .3em solid #FF80FF;}
.answerpage .answered div:nth-child(15) {border: .3em solid #FFFF80;}
.answerpage .answered div:nth-child(16) {border: .3em solid #80FFFF;}
.answerpage .answered div:nth-child(17) {border: .3em solid #8080FF;}
.answerpage .answered div:nth-child(18) {border: .3em solid #80FF80;}
.answerpage .answered div:nth-child(19) {border: .3em solid #FF8080;}
.answerpage .answered div:nth-child(20) {border: .3em solid #FF00F0;}
